@import 'variables';


@keyframes start {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}


#app {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: start 1s ease-in-out;
}