.embla__button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
}

.embla__button:disabled {
    opacity: 0.3;
}
.embla__button__svg {
    width: 1rem;
}
  