@import 'variables';


@keyframes animateLinks {
    0% { transform: translateX(-20%); }
    100% { transform: translateX(0%); }
}


nav {
    width: 100%;
    background-color: $accent-color;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.5rem 1rem; 
    z-index: 1;
}

#logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
}

#logo-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

#links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#links {
    margin-right: 5rem;
}

.link {
    color: $primary-color;
    text-decoration: none;
    margin-right: 3rem;
}

.active {
    color: $secondary-color;
    text-decoration: none;
    margin-right: 3rem;
}

.pending {
    color: rgba($secondary-color, 0.1);
    text-decoration: none;
    margin-right: 3rem;
}

.link:hover {
    color: $secondary-color;
}

@media screen and (max-width: 1224px) {
    nav {
        width: 100%;
        background-color: $accent-color;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0.5rem 1rem; 
        z-index: 1;
    }

    #logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #links-container {
        background-color: $accent-color;
        display: flex;
        flex-direction: row;
    }

    #links {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        transform-origin: right;
        animation: animateLinks .3s linear;
    }

    .link {
        color: $primary-color;
        text-decoration: none;
        margin-top: 2rem;
        margin-right: 3rem;
    }

    .active {
        color: $secondary-color;
        text-decoration: none;
        margin-right: 3rem;
    }
    
    .pending {
        color: rgba($secondary-color, 0.1);
        text-decoration: none;
        margin-right: 3rem;
    }
    
    .link:hover {
        color: $secondary-color;
    }
}