@import 'variables';


#portfolio-page {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $accent-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}