@import 'variables';


#resume-page {
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    background-color: $accent-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#page-nav {
    display: flex;
}

#page-nav > p {
    color: $primary-color;
    margin-right: 1rem;
}

#page-nav > button {
    background-color: transparent;
    color: $primary-color;
    border: none;
    cursor: pointer;
}